<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hans Heje Software Engineer</title>
  <link rel="icon" href="images/favicon.png" sizes="32x32">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="styles/styles.css" />
  {% extends "header.njk" %}
    require('nunjucks')

  <!-- Bootstrap CSS dependency-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <!-- Bootstrap JS dependency-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

  <!-- Chart.js dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <!-- Nunjucks-->
  <script src="nunjucks.js"></script>
</head>

<body>
{% include "header.njk" %}
  <!-- CONTENT -->

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <img src="images/Hans_pic.jpg" class="img-fluid" alt="picture of me"
          title="A picture of me attending my little brothers confirmation">
        <div class="boxed">
          <h4>
            <strong>Education</strong>
          </h4>
          <ul>
            <li>
              <strong>2020-2023</strong> BSc Software Engineering, Aalborg University in Copenhagen.
            </li>
            <li>
              <strong>2016-2019</strong> Danish Gymnasium with Math, Biotechnology, Chemistry & Robot-Technology
              A-levels, grade: 10.6.
            </li>
          </ul>
        </div>
        <div class=boxed>
          <h4>
            <strong>Skills</strong>
          </h4>
          <ul>
            <li>
              Fluent in Danish
            </li>
            <li>
              Front End Web Development
            </li>
            <li>
              C (Language)
            </li>
            <li>
              Circuits / Robotics / Hardware
            </li>
            <li>
              Game Development
            </li>
            <li>
              Leadership in Project Work
            </li>
            <li>
              Version Control 
            </li>
            <li>
              Emotional intelligence
            </li>
            <li>
              Math
            </li>
            <li>
              Office 365
            </li>
          </ul>
        </div>
        <div class="boxed">
          <h4>
            <strong>Experience</strong>
          </h4>
          <ul>
            <li>
              <strong>2020-2024</strong> Østre Landsret, Lay Judge, 4 times/year.
            </li>
            <li>
              <strong>2019-2020</strong> Q8, Gas Station Service Attendant.
            </li>
            <li>
              <strong>2018</strong> Bauhaus, Customer Service Employee.
            </li>
            <li>
              <strong>2017</strong> Bilka, Warehouse Employee.
            </li>
            <li>
              <strong>2015</strong> Local Sushi restaurant, Customer Service Officer.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <div class="boxed">
          <h4>
            <strong>Website Objective</strong>
          </h4>
          This website shall serve as my online CV, in order to give a clear view of who I am as a person, and what my
          skill set is, including a repository of my own personal projects. This is meant to make it easier for you
          <i>(The employer)</i> to find out if I'm suited for the task you intent to fill.
          <h4>
            <strong>Profile</strong>
          </h4>
          Ambitious boy born in 1999, with a strong motivation to learn, either through formal education, work
          experience, or in my free time. I'm particularly excited for the advance of anything related to the
          development in
          Artificial intelligence and cryptology/cyber security, especially when it comes to how these technologies can
          be applied in the medical field.
          <br><br>
          My free time is defined by the following activities:
          <ol>
            <li>
              Reading books and academic litterature.
            </li>
            <li>
              Doing personal projects from what I have learned from reading.
            </li>
            <li>
              Trying to understand the foundations of business and microeconomics and its influence on the stock market.
            </li>
            <li>
              Discussing philosophy and moral implications of a diverse range of subjects.
            </li>
          </ol>

        </div>
        <div class="boxed">
          <h4><strong>Types of Projects I Have Done</strong></h4>
          <div class="chart-container">
            <canvas id="pichart"></canvas>
          </div>
        </div>

        <div class="boxed">
          <h4><strong>Featured Project</strong></h4>
          <form action="projects.html">
            <button class="button button1"><strong>See All Projects</strong></button>
          </form>
        </div>
      </div>
    </div>
    <!-- CONTENT END -->

    <!-- Chart script-->
    <script type="text/javascript" src="js/Scripts/diagram.js"></script>

    <!-- Chart script end-->
</body>

</html>